.next-prev-wrapper {
    grid-area: nextprev;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: var(--header-background-color);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.previous-link {
    flex: 1 1 50%;
    justify-content: flex-end;
    text-align: right;
    padding-inline-end: 1em;
}

.next-link {
    flex: 1 1 50%;
    justify-content: flex-start;
    text-align: left;
    padding-inline-start: 1em;
}

.next-prev-wrapper a:link,
.next-prev-wrapper a:visited,
.next-prev-wrapper a:active {
    color: var(--header-text-color);
    text-decoration: none;
    transition: color 150ms ease;
}

.next-prev-wrapper a:hover {
    color: var(--header-hover-color);
    text-decoration: underline;
}

.next-prev-wrapper .nav-icon {
    stroke: var(--header-text-color);
    transition: stroke 150ms ease;
}

.next-prev-wrapper a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.next-prev-wrapper .next-link a {
    justify-content: flex-start;
}

.next-prev-wrapper .icon svg {
    height: 0.7em;
    margin: 0.4em;
    transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

@media (hover: hover) and (pointer: fine) {
    .next-prev-wrapper .previous-link:hover .icon svg {
        transform: translateX(-2px);
    }

    .next-prev-wrapper .next-link:hover .icon svg {
        transform: translateX(2px);
    }
}

.next-prev-wrapper a:hover .nav-icon {
    stroke: var(--header-hover-color);
}
